h1{
    border: dotted;
    border-color: black;
    font-size: 30px;
    text-shadow: 1px 1px silver;
}

img{
    outline: 5px double black;
    align-content: center;
    align-self: center;
    border-radius: 50px;
}

button{
    
    border:double;
    background-color: yellow;
    
    font-family: bolder; 
}

body {
   
    background: linear-gradient(to right, purple, gold);
  }  